@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Fira Sans", sans-serif;
}

.border-mine {
    border: 2px #1D4ED8 solid;
}

.border-mine2 {
    border: 1px #22D3EE solid;
}

.border-mine2-bold {
    border: 2px #22D3EE solid;
}

.bg-gradient {
    background: linear-gradient(-45deg, #1D4ED8, #22D3EE);
}

.text-color2 {
    color: #22D3EE;
}

.text-blue2 {
    color: #3654A9;
}

@keyframes rotateBackAndForth {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(55deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loader {
  animation: rotateBackAndForth 1s infinite ease-in-out;
  display: inline-block; /* Ensures transform applies correctly */
}
